<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">YelpCamp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% }else{ %>
                            <li class="navbar-text">Currently signed in as <%= currentUser.username %></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if(message_success && message_success.length > 0) { %>
            <div class="alert alert-success alert-dismissable fade in" role="alert">
                <%= message_success %>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <% } %>
            <% if(message_error && message_error.length > 0){ %>
            <div class="alert alert-danger alert-dismissable fade in" role="alert">
                <%= message_error %>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <% } %>
        </div>
        

        