<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <div class="col-md-10">
                <p>The <span id="best-camp">best campgrounds</span> from all over the world
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary btn-large" id="add_button" href="/campgrounds/new">Submit new campground</a>
            </div>
            
             
             </p>
         </div>
    </header>
   
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail index_thumbnail">
                    <a href="/campgrounds/<%= campground._id %>"  class="btn btn-primary btn-index">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                    <img class="index_image" src="<%= campground.image %>">
                    <div class="index_caption">
                         <%= campground.name %> 
                    </div>
                       
                </div>
            </div>
        <% }); %>
   </div> <!-- row -->
</div> <!-- container -->
<% include ../partials/footer %>