<% include ../partials/header %>
<div class="container">
    <div class="row"></div>
    <h1 style="text-align: center;">Create a new Campground</h1>
    <div style="width: 30%; margin: 30px auto;">
        <form action="/campgrounds" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Camp name" name="name">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="image url" name="image">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="description" name="description">
            </div>
            <div class="form-group">
                    <input id="searchTextField" class="form-control" type="text" name="mapPlace" size="50">
            </div>
            <div class="form-group">
                 <button class="btn btn-primary btn-large btn-block">Submit !</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
    
    </div>
</div>
<script>
    function initialize() {
    
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize)
</script>
<% include ../partials/footer %>