body{
    background: url(/images/bg.jpeg) no-repeat center center fixed;
}

.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

#delete{
    display: inline;
}

